body {
  /* Background pattern from subtlepatterns.com */
    background: url(../img/blackmamba.png) repeat;
    box-sizing: border-box;
}

.container-fluid {
  padding:10px;
  font-family: 'Oswald', sans-serif;
  color: #EBE0CD

}

.col-center {
  float:none;
  margin: 0 auto;
}

h1{
  color: #FCFAFA;
  padding-right: 10%;
  font-size: 54px;
}

h3{
  color: #FCFAFA;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h4{
  font-family: 'Lato', sans-serif;
  padding-right: 10%;
  color: #B22435
}

.img-responsive{
  padding-top: 15%;
}

hr{
  border: 2px solid #EBE0CD
}

.nav-bg{
  text-transform: uppercase;
  color: #EBE0CD;
  font-size: 24px;
}

p{
  font-family: 'Lato', sans-serif;
  text-align:center;
  font-size: 16px;
}
